.header{
  height: 100px;
  width: 100vw;
  box-sizing: content-box;
  background-color: rgb(121, 48, 48);
  position: relative;
  display: flex;
}

.logo{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 25px;
  left: 75px;
}

.title{
  color: white;
  font-weight: 400;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 150px;
  margin: 0px;
}

.links{
  width: 200px;
  position: absolute;
  left: 300px;
  margin: 35px;
  display: flex;
  justify-content: space-between;
}

.link{
  height: 30px;
  background-color: rgb(73, 128, 73);
  border-color: black;
  border-radius: 5px;
  font-weight: 700;
}
